<div class="absolute inset-0 z-0 pointer-events-none opacity-20 flex items-end justify-center gap-2 px-5">
    <div class="w-4 bg-primary rounded-t-full h-2/5"></div>
    <div class="w-4 bg-secondary rounded-t-full h-3/5"></div>
    <div class="w-4 bg-primary rounded-t-full h-4/5"></div>
    <div class="w-4 bg-secondary rounded-t-full h-3/4"></div>
    <div class="w-4 bg-primary rounded-t-full h-4/5"></div>
    <div class="w-4 bg-secondary rounded-t-full h-3/5"></div>
    <div class="w-4 bg-primary rounded-t-full h-2/5"></div>
  </div>