<section class="relative flex min-h-screen flex-col items-center py-10 animate-fade-in">
  <div class="text-center">
    <img src="assets/music.png" alt="Music"
      class="relative z-10 w-1/2 mx-auto rounded-full border-primary border-4
        border-primary shadow-[0_0_50px_rgba(208,188,255,0.5)]
         transition-transform duration-700 ease-out hover:scale-105">
  </div>

  <div class="mt-10 z-10 text-center">
    <h1 class="font-display font-bold text-5xl bg-clip-text text-transparent bg-gradient-to-r from-secondary to-on-surface-variant">
      BeatGuess
    </h1>
    
    <p class="text-on-surface-variant font-bold text-3xl mt-3 mb-5">
      Guess the song in 10 seconds. Become a music legend. <br>
    </p>
    
    @if (!genreService.isGenreSelected()) {
      <div class="mt-5 animate-fade-up">
        <small class="inline-block bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary font-bold text-3xl animate-bass-pulse">Select a genre to start the game.</small>
      </div>
    }


    @if (genreService.isGenreSelected()) {
      <button (click)="startPlaying()" class="btn btn-primary animate-fade-up mt-10 px-10 py-4 text-xl min-h-14 text-on-primary transition-transform duration-400 hover:scale-105 cursor-pointer">
        <span class="material-icons text-3xl leading-none">play_circle</span>
        Start Playing
      </button>
    }
  </div>

  
  <div class="mt-15 z-10 text-center w-full max-w-7xl mx-auto">
    <app-genre-cards [genresList]="genresFromArtists" />
  </div>

  <app-music-bars [barsAmount]="10" />
</section>